{% block content %}
    <div class="card">
        <div class="card-header pb-0">
            <div class="card-options">
                <a class="card-options-collapse"
                   href="#"
                   data-bs-toggle="card-collapse"><i
                        class="fe fe-chevron-up"></i></a><a
                    class="card-options-remove"
                    href="#"
                    data-bs-toggle="card-remove"><i
                    class="fe fe-x"></i></a>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-5 {% if form.username.errors %} text-danger form-control-danger {% endif %}">
                    {{ form.username.label_tag }}
                    <div class="mb-3">

                        {{ form.username }}
                        {{ form.username.errors }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-3 {% if form.first_name.errors %} text-danger form-control-danger {% endif %}">
                    <div class="mb-3">
                        {{ form.first_name.label_tag }}
                        {{ form.first_name }}
                        {{ form.first_name.errors }}
                    </div>
                </div>
                <div class="col-sm-6 col-md-4 {% if form.last_name.errors %} text-danger form-control-danger {% endif %}">
                    <div class="mb-3">
                        {{ form.last_name.label_tag }}
                        {{ form.last_name }}
                        {{ form.last_name.errors }}
                    </div>
                </div>
                <div class="col-sm-5 col-md-5 {% if form.phonenumber.errors %} text-danger form-control-danger {% endif %}">
                    <div class="mb-3">
                        {{ form.phonenumber.label_tag }}
                        {{ form.phonenumber }}
                        {{ form.phonenumber.errors }}
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 {% if form.age.errors %} text-danger form-control-danger {% endif %}">
                    <div class="mb-3">
                        {{ form.age.label_tag }}
                        {{ form.age }}
                        {{ form.age.errors }}
                    </div>
                </div>
                <div class="col-sm-4 col-md-4 {% if form.gender.errors %} text-danger form-control-danger {% endif %}">
                    <div class="mb-3">
                        {{ form.gender.label_tag }}
                        {{ form.gender }}
                        {{ form.gender.errors }}
                    </div>
                </div>
                {% if not request.user.is_superuser or not request.user.is_staff %}
                    <div class="col-md-12 {% if form.information.errors %} text-danger form-control-danger {% endif %}">
                        <div class="mb-3">
                            {{ form.information.label_tag }}
                            {{ form.information }}
                            {{ form.information.errors }}
                        </div>
                    </div>
                {% endif %}
                {% if not request.user.is_superuser or not request.user.is_staff %}

                    <div class="col-md-12 {% if form.file.errors %} text-danger form-control-danger {% endif %}">
                        <div class="mb-3">
                            {{ form.file.label_tag }}
                            {{ form.file }}
                            {{ form.file.errors }}
                        </div>
                    </div>
                {% endif %}
                <div class="col-md-12 pb-5 {% if form.address.errors %} text-danger form-control-danger {% endif %}">
                    <div>
                        {{ form.address.label_tag }}
                        {{ form.address }}
                        {{ form.address.errors }}
                    </div>
                </div>

            </div>
            <div id="button-container" class="card-footer text-end">
                <button class="btn btn-primary" type="submit">به روز رسانی پروفایل</button>
            </div>

        </div>
    </div>
{% endblock %}

