{% extends 'layout.html' %}

{% load static %}



{% block page-title %}صفحه مدیریت دارو{% endblock %}

{% block body-title %}انبار دارو ها{% endblock %}

{% block body-link-title %}مدیریت دارو{% endblock %}


{% block content %}
    <div class="row">
        <div class="card-body">

            <div class="btn-showcase pb-5">
                <a href="{% url 'add_medicine' %}" class="btn btn-outline-primary-2x" type="button"
                   data-bs-original-title="" title="" data-original-title="btn btn-success-gradien">
                    افزودن دارو
                </a>

            </div>
        </div>


        <div id="app2" class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <label class="pull-right">
                        {{ search_form }}
                        </label>
                    <h5>مشخصات دارو ها</h5>
                    <span>از این قسمت دکتر عزیز، میتوانید تمامی دارو های موجود را مشاهده نمایید.</span>

                    <div class="card-body row">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="table-responsive">
                                <div id="advance-2_filter" class="dataTables_filter">


                                </div>
                                <table class="table">
                                    <thead class="table-primary">

                                    <tr>
                                        <th scope="col">شناسه دارو</th>
                                        <th scope="col">نام دارو</th>
                                        <th scope="col">دسته بندی</th>
                                        <th scope="col">دستور مصرف</th>
                                    </tr>
                                    </thead>
                                    <tbody id="box">
                                    <tr v-for="data in random_lists">
                                        <td v-text="data.id"></td>
                                        <td v-text="data.name"></td>
                                        <td v-text="data.category_name"></td>
                                        <td v-text="data.short_desc">{</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <p class="pt-5 pb-5" v-if="random_lists.length === 0">هیچ داده‌ای موجود نیست.</p>
                            </div>
                        </div>
                    </div>
                </div>
                    <div class="row mb-4">
                        <div class="col-sm-12 col-lg-12 col-xl-12">
                            <div class="tab-content" id="v-pills-tabContent">
                                        <ul class="pagination justify-content-center pagination-primary"
                                            v-if="next !== null || previous !== null">

                                            <li class="page-item">
                                                <button class="page-link" v-if="previous" @click="getData(previous)">
                                                    قبلی
                                                </button>
                                            </li>

                                            <button
                                                    class="page-link page-item font-primary"
                                                    v-for="page in page_numbers"
                                                    v-text="page"
                                                    @click="goToPage(page)"
                                            >
                                            </button>

                                            <li class="page-item">
                                                <button class="page-link" v-if="next" @click="getData(next)">
                                                    بعدی
                                                </button>
                                            </li>

                                        </ul>
                            </div>
                        </div>
                    </div>

            </div>
        </div>
    </div>


    <div class="card">
                    <p>
                    <a href="{% url 'prescription' %}">
                       مشاهده انبار نسخه
                    </a>
                </p>
                </div>



{% endblock %}