{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
        integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@riophae/vue-treeselect@^0.4.0/dist/vue-treeselect.umd.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

{% if request.user.is_superuser %}
<script src="{% static 'assets/js/custom.js' %}"></script>
{% endif %}


<script src="{% static "assets/js/icons/feather-icon/feather.min.js" %}"></script>
<script src="{% static "assets/js/icons/feather-icon/feather-icon.js" %}"></script>
<script src="{% static "assets/js/scrollbar/simplebar.js" %}"></script>
<script src="{% static "assets/js/scrollbar/custom.js" %}"></script>
<script src="{% static "assets/js/config.js" %}"></script>
<script src="{% static "assets/js/sidebar-menu.js" %}"></script>
<script src="{% static "assets/js/chart/knob/knob.min.js" %}"></script>
<script src="{% static "assets/js/chart/knob/knob-chart.js" %}"></script>
<script src="{% static "assets/js/chart/apex-chart/apex-chart.js" %}"></script>
<script src="{% static "assets/js/chart/apex-chart/stock-prices.js" %}"></script>
<script src="{% static "assets/js/notify/bootstrap-notify.min.js" %}"></script>
<script src="{% static "assets/js/dashboard/default.js" %}"></script>
<script src="{% static "assets/js/notify/index.js" %}"></script>
<script src="{% static "assets/js/datepicker/date-picker/datepicker.js" %}"></script>
<script src="{% static "assets/js/datepicker/date-picker/datepicker.en.js" %}"></script>
<script src="{% static "assets/js/datepicker/date-picker/datepicker.custom.js" %}"></script>
<script src="{% static "assets/js/photoswipe/photoswipe.min.js" %}"></script>
<script src="{% static "assets/js/photoswipe/photoswipe-ui-default.min.js" %}"></script>
<script src="{% static "assets/js/photoswipe/photoswipe.js" %}"></script>
<script src="{% static "assets/js/typeahead/handlebars.js" %}"></script>
<script src="{% static "assets/js/typeahead-search/handlebars.js" %}"></script>
<script src="{% static "assets/js/typeahead-search/typeahead-custom.js" %}"></script>
<script src="{% static "assets/js/height-equal.js" %}"></script>
<script src="{% static "assets/js/script.js" %}"></script>
<script src="{% static "assets/js/jsgrid/jsgrid.min.js" %}"></script>
<script src="{% static "assets/js/jsgrid/griddata.js" %}"></script>
<script src="{% static "assets/js/jsgrid/jsgrid.js" %}"></script>

<script src="{% static "files-de.rtl-theme.com/jsdemos/21f532f8f7c2f65db1d73263889e5599f01b744499f7.js" %}?pid=242700"></script>
