{% load render_partial %}
{% load static %}

{% block nav %}

    {% render_partial 'site_header_partial' %}


    <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <div class="sidebar-wrapper">
            <div>
                <div class="logo-wrapper pb-5">

                    <img class="img-fluid for-light align-content-center w-75 h-100"
                         src="{% static "assets/images/lightMedical Logo.png" %}" alt="">
                    <img class="img-fluid for-dark align-content-center w-75 h-100"
                         src="{% static "assets/images/dark Medical Logo.png" %}" alt="">
                    <div class="back-btn"><i class="fa fa-angle-right"></i></div>
                </div>
                <div class="logo-icon-wrapper"><a href="index-zeta.html"><img class="img-fluid"
                                                                              src="{% static "assets/images/logo-icon.png" %}"
                                                                              alt=""></a></div>
                <nav class="sidebar-main">
                    <div class="left-arrow" id="left-arrow"><i data-feather="arrow-left"></i></div>
                    <div id="sidebar-menu">
                        <ul class="sidebar-links" id="simple-bar">
                            <li class="back-btn"><a href="index-zeta.html"><img class="img-fluid"
                                                                                src="{% static "assets/images/logo-icon.png" %}"
                                                                                alt=""></a>
                                <div class="mobile-back text-end"><span>بازگشت</span><i class="fa fa-angle-left ps-2"
                                                                                        aria-hidden="true"> </i></div>
                            </li>


                            <li class="sidebar-list">

                                <a class="sidebar-link sidebar-title link-nav" href="{% url 'home' %}">
                                    <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" height="21pt" fill="none"
                                         viewBox="2 0 20 20">
                                        <path fill-rule="evenodd"
                                              d="M11.293 3.293a1 1 0 0 1 1.414 0l6 6 2 2a1 1 0 0 1-1.414 1.414L19 12.414V19a2 2 0 0 1-2 2h-3a1 1 0 0 1-1-1v-3h-2v3a1 1 0 0 1-1 1H7a2 2 0 0 1-2-2v-6.586l-.293.293a1 1 0 0 1-1.414-1.414l2-2 6-6Z"
                                              clip-rule="evenodd"/>
                                    </svg>

                                    <span>خانه</span>
                                </a>
                            </li>

                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title link-nav" href="{% url 'medicines' %}">
                                    <svg class="text-gray-800 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" height="21pt" fill="none"
                                         viewBox="4 0 18 18">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="1"
                                              d="M15 4h3a1 1 0 0 1 1 1v15a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V5a1 1 0 0 1 1-1h3m0 3h6m-3 5h3m-6 0h.01M12 16h3m-6 0h.01M10 3v4h4V3h-4Z"/>
                                    </svg>

                                    <span>تجویز دارو</span>
                                </a>
                            </li>

                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title link-nav" href="{% url 'patients' %}">
                                    <svg class="w-[50px] h-[50px] text-gray-800 dark:text-white" aria-hidden="true"
                                         xmlns="http://www.w3.org/2000/svg" height="21pt" fill="none"
                                         viewBox="2 0 20 20">
                                        <path stroke="currentColor" stroke-linecap="round" stroke-width="1.5"
                                              d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                                    </svg>


                                    <span>مشخصات بیماران</span></a></li>

                            <li class="sidebar-list">
                                <a class="sidebar-link sidebar-title link-nav" href="file-manager.html">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <g>
                                            <g>
                                                <path d="M7.30566 14.5743H16.8987" stroke="#130F26" stroke-width="1.5"
                                                      stroke-linecap="round"
                                                      stroke-linejoin="round"></path>
                                                <path fill-rule="evenodd" clip-rule="evenodd"
                                                      d="M2.5 7.79836C2.5 5.35646 3.75 3.25932 6.122 2.77265C8.493 2.28503 10.295 2.4536 11.792 3.26122C13.29 4.06884 12.861 5.26122 14.4 6.13646C15.94 7.01265 18.417 5.69646 20.035 7.44217C21.729 9.26979 21.72 12.0755 21.72 13.8641C21.72 20.6603 17.913 21.1993 12.11 21.1993C6.307 21.1993 2.5 20.7288 2.5 13.8641V7.79836Z"
                                                      stroke="#130F26" stroke-width="1.5" stroke-linecap="round"
                                                      stroke-linejoin="round"></path>
                                            </g>
                                        </g>
                                    </svg>
                                    <span>حساب کاربری</span></a></li>
                        </ul>
                    </div>

                    <div class="right-arrow" id="right-arrow"><i data-feather="arrow-right"></i></div>
                </nav>

            </div>

        </div>









{% endblock %}