{% extends 'layout.html' %}
{% load static %}

{% block page-title %}
    صفحه مدیریت بیماران
{% endblock %}

{% block body-title %}
    مشخصات بیماران
{% endblock %}

{% block body-link-title %}
    بیماران
{% endblock %}

{% block content %}
    <div class="row">
        <div class=" col-lg-12 col-xl-12">
            <div class="card-body mb-3">
                <div class="btn-showcase">
                    <a href="{% url 'add_patient' %}" class="btn btn-outline-primary-2x" type="button"
                       data-bs-original-title="" title="" data-original-title="btn btn-success-gradien">
                        افزودن بیمار
                    </a>
                </div>
            </div>
        </div>
        <div id="app">
            <div class="card">
                <div class="card-block row">
                    <div class="col-sm-12 col-lg-12 col-xl-12">
                        <div class="table-responsive">
                            <div id="advance-2_filter" class="dataTables_filter p-3">
                                <label>جستجو : <input type="text" v-model="search" class="form-control">
                                </label>
                            </div>
                            <table class="table">
                                <thead class="table-primary">
                                <tr>
                                    <th scope="col">نام</th>
                                    <th scope="col">کد ملی</th>
                                    <th scope="col">سن</th>
                                    <th scope="col">شماره تلفن</th>
                                    <th scope="col">تنظیمات</th>
                                </tr>
                                <tbody id="box">
                                <tr v-for="data in random_lists">
                                    <td v-text="data.first_name+' '+data.last_name"></td>
                                    <td v-text="data.code"></td>
                                    <td v-text="data.age"></td>
                                    <td v-text="data.phonenumber"></td>
                                    <td>
                                        <a :href=`patient_information/${data.code}`>
                                            جزییات</a>
                                    </td>

                                </tr>
                                </tbody>
                            </table>
                            <p class="pt-5 pb-5" v-if="random_lists.length === 0">هیچ داده‌ای موجود نیست.</p>
                        </div>
                    </div>
                </div>
                <div class="row list-persons" id="addcon">
                    <div class="col-xl-12 col-md-4">
                        <div class="tab-content" id="v-pills-tabContent">
                            <div class="tab-pane contact-tab-0 tab-content-child fade show active" id="v-pills-user"
                                 role="tabpanel" aria-labelledby="v-pills-user-tab">
                                <div class="profile-mail">
                                    <ul class="pagination justify-content-center pagination-primary"
                                        v-if="next !== null || previous !== null">

                                        <li class="page-item">
                                            <button class="page-link" v-if="previous" @click="getData(previous)">
                                                قبلی
                                            </button>
                                        </li>

                                        <button
                                                class="page-link page-item font-primary"
                                                v-for="page in page_numbers"
                                                v-text="page"
                                                @click="goToPage(page)"
                                        >
                                        </button>

                                        <li class="page-item">
                                            <button class="page-link" v-if="next" @click="getData(next)">بعدی
                                            </button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>







{% endblock %}


