{% extends 'base.html' %}
{% load static %}

{% block page-title %}
    صفحه مدیریت بیماران
{% endblock %}

{% block body-title %}
    مشخصات بیماران
{% endblock %}

{% block body-link-title %}
    بیماران
{% endblock %}

{% block content %}
    <div class="row">
        <div class="card-body">
            <div class="btn-showcase">
                <a href="{% url 'add_patient' %}" class="btn btn-outline-primary-2x" type="button"
                   data-bs-original-title="" title="" data-original-title="btn btn-success-gradien">
                    افزودن بیمار
                </a>

            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">

                <div class="card-body">
                    <div class="table-responsive">
                        <div id="advance-2_wrapper" class="dataTables_wrapper">

                            <div id="advance-2_filter" class="dataTables_filter">
                                <label>جستجو : <input type="search" class="" placeholder="" aria-controls="advance-2">
                                </label>
                            </div>
                            <table class="table">
                                <thead class="table-primary">
                                <tr>
                                    <th scope="col">نام</th>
                                    <th scope="col">کد ملی</th>
                                    <th scope="col">سن</th>
                                    <th scope="col">شماره تلفن</th>
                                    <th scope="col">تنظیمات</th>
                                </tr>
                                </thead>

                                </thead>
                                <tbody>
                                {% for patient in patients %}
                                    <tr role="row" class="odd">

                                        <td class="sorting_1">{{ patient.firstname }} {{ patient.lastname }}</td>
                                        <td>{{ patient.code }}</td>
                                        <td>{{ patient.age }}</td>
                                        <td>{{ patient.phonenumber }}</td>
                                        <td>
                                            <a href="{% url 'patient_information' patient_code=patient.code %}">
                                                جزییات
                                            </a>
                                        </td>


                                    </tr>
                                {% endfor %}
                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock %}