{% extends 'base.html' %}
{% block body-title %}
    مشاهده جزییات بیمار
{% endblock %}

{% block content %}

    <div class="col-xl-12 col-md-12 box-col-12 xl-70">
        <div class="email-right-aside bookmark-tabcontent contacts-tabs">
            <div class="card email-body radius-left">
                <div class="ps-0">
                    <div class="tab-content">
                        <div class="tab-pane fade active show" id="pills-personal" role="tabpanel"
                             aria-labelledby="pills-personal-tab">
                            <div class="card mb-0">
                                <div class="card-header d-flex">
                                    <h5>اطلاعات تکمیلی</h5>
                                </div>
                                <div class="card-body p-5">
                                    <div class="row list-persons" id="addcon">
                                        <div class="col-xl-12 col-md-4">
                                            <div class="tab-content" id="v-pills-tabContent">
                                                <div class="tab-pane contact-tab-0 tab-content-child fade show active"
                                                     id="v-pills-user" role="tabpanel"
                                                     aria-labelledby="v-pills-user-tab">
                                                    <div class="profile-mail">
                                                        <div class="media align-items-center">
                                                            <div class="media-body mt-0">
                                                                <h5>
                                                                    <span class="first_name_0">اطلاعات تکمیلی بیمار </span>
                                                                </h5>
                                                                <br>
                                                                <ul>
                                                                    <li><a href="javascript:void(0)"
                                                                           onclick="editContact(0)">ویرایش</a></li>
                                                                    <li><a href="javascript:void(0)"
                                                                           onclick="printContact(0)"
                                                                           data-bs-toggle="modal"
                                                                           data-bs-target="#printModal">چاپ</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                        <div class="email-general">
                                                            <ul>
                                                                <li>نام <span
                                                                        class="font-primary first_name_0">{{ patient.firstname }} {{ patient.lastname }}</span>
                                                                </li>
                                                                <li>جنسیت <span
                                                                        class="font-primary">{{ patient.gender }}</span>
                                                                </li>
                                                                <li>سن بیمار
                                                                    <span class="font-primary">{{ patient.age }}</span>
                                                                </li>
                                                                <li>شماره موبایل<span
                                                                        class="font-primary mobile_num_0">{{ patient.phonenumber }}</span>
                                                                </li>
                                                                <li>سوابق بیماری
                                                                    {% if patient.information %}
                                                                        {% for info in patient.information.all %}
                                                                            <span class="font-primary email_add_0">
                                                                                {{ info }} |
                                                                            </span>
                                                                        {% endfor %}
                                                                    {% endif %}
                                                                </li>
                                                                <li>آدرس<span
                                                                        class="font-primary url_add_0">{{ patient.address }}</span>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-content pb-5">
                <div class="tab-pane fade active show" id="pills-personal" role="tabpanel"
                     aria-labelledby="pills-personal-tab">
                    <div class="card mb-0">
                        <div class="card-header d-flex">
                            <h5>فایل های بیمار</h5>
                        </div>
                        <div class="card-body p-5">
                            <div class="row list-persons" id="addcon">
                                <div class="col-xl-12 col-md-4">
                                    <div class="tab-content" id="v-pills-tabContent">
                                        <div class="tab-pane contact-tab-0 tab-content-child fade show active"
                                             id="v-pills-user" role="tabpanel"
                                             aria-labelledby="v-pills-user-tab">
                                            <div class="profile-mail">
                                                {% if patient.file %}
                                                    <h5>
                                                        <a href="{{ patient.file.url }}">
                                                            {{ patient.file }}
                                                        </a>
                                                    </h5>
                                                {% else %}
                                                    <div class="text-center">
                                                        <span class="font-roboto">فایلی در این قسمت آپلود نشده است</span>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}